body {
    background-color: #000000;
    margin: 10px;
    color: #ffffffd8;
    font-family: "chakra petch", sans-serif;
    margin: 10px;
}

header {
    border-bottom: solid 5px #0f0f0f;
    padding: 20px;
    font-size: 32px;   
}

.chamada {
    background: hsla(45, 100%, 84%, 0.679);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center
   
}

.chamada-texto {
    margin-right: 5%;
    color:#ededed;
    
}

h1 {
    font-size: 45px;
}

p5 {
    color:#670000;
    font-size: 80px;
    background-color: #000000;
}
img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x:auto;
    gap: 10px;
    
}
.categoria {
    padding-left:20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid  #670000;
   
}
.categoria h2 {
    color: #ff000062;
}
.cantor p4{
    padding-top: 100px; 
    font-size: 45px;
    color: #b60000;
}